
@import url('https://db.onlinewebfonts.com/c/080242bc52df67d6bf381674170487f9?family=GT+Flexa+Trial+Cm+Md');

.product-details {
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .color-picker {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .color-swatch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s;
  }

  .color-swatch:hover {
    transform: scale(1.1);
  }

  .color-swatch.selected {
    border: 3px solid #333;
  }

  dialog#size_modal {
    width: 90vw !important;
    height: 90vh !important;
    max-width: none !important;
    max-height: none !important;
  }

  .modal-box {
    width: 100% !important;
    height: 100% !important;
  }