@import url('https://db.onlinewebfonts.com/c/080242bc52df67d6bf381674170487f9?family=GT+Flexa+Trial+Cm+Md');

.animation_title {
    font-size: 50px;
    font-weight: 900; /* Make the font as bold as possible */
    letter-spacing: 0; /* Remove any spacing between letters */
    font-family: 'KMR Waldenburg', sans-serif;
    height: 83vh;
}

.animation_title span {
    font-weight: normal;
}

h1.animation_title.h-screen {
    align-items: center;
}

h1.animation_title {
    justify-self: center;
    align-content: center;
}

.animation_footer {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    border-top: solid 1px #4d4d4d;
}
/* Main Animation Container */
.animation_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'KMR Waldenburg', sans-serif;
    transition: opacity 1s ease; /* Smooth transition for fade-out */
  }
  
  .animation_title {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 0;
    color: #333;
  }
  
  .animation_title .mid-header {
    font-weight: normal;
  }
  
  /* Footer styling remains the same */
  .animation_footer {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    border-top: solid 1px #4d4d4d;
    color: #333;
    width: 100%;
    margin-top: 20px;
  }
  
  /* Fade-out effect */
  .fade-out {
    opacity: 0;
  }
  
  /* New Content Styling */
  .new-content {
    opacity: 0;
    animation: fadeIn 1s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  

.image_header p{
  max-width: 519px;
  margin: 0 auto 15px;
  text-align: center;
  font-family: "GT Flexa Trial Cm Md";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 116%;
  text-transform: uppercase;
}

@keyframes smoothFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smoothFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in {
  animation: smoothFadeIn 1s ease forwards;
}

.fade-out {
  animation: smoothFadeOut 1s ease forwards;
}
